.pr-ch-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pr-ch-1 img {
    width: 50%;
    opacity: 0;
    transition-duration: 1s;
    margin-right: -20%;
}

.pr-ch-1 .ss {
    filter: blur(0.3);
    width: 400px;
    opacity: 0;
    margin-left: -20%;
    transition-duration: 1s;
    color: rgba(0, 0, 0, 0.733);
    -webkit-filter: blur(0.3);
}

.par-child-1 {
    margin-left: 2%;
    width: 105%;
    opacity: 0;
    transition-duration: 1s;
    margin-top: -5%;
    font-size: 50px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    filter: blur(0.555px);
    -webkit-filter: blur(0.555px);
}